.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  max-width: 300px;
  margin: 0 auto;
  background-color: #ebddd5;
}

.number-btn,
.operator-btn,
.equal-btn {
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.number-btn {
  background-color: #f75a05;
  color:rgb(1, 1, 1)e;
}

.operator-btn {
  background-color: #8000ff;
  color: rgb(21, 19, 19);
}

.equal-btn {
  background-color: #008CBA;
  color: rgb(25, 23, 23);
}

.display {
  grid-column: span 4;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: right;
  font-size: 24px;
}
